<%- include("components/header.ejs") %>
    <%- include("components/navbar.ejs") %>

        <section class="container">
            <div class="row">
                <div class="col-12">

                    <h2 class="page-title text-danger">Delete  the <%= entity %>:   <%= title %></h2>

                    <hr>
                    
                </div>
                <div class="col-12 text-center mb-3">
                    <img width="150" src="/img/alert.png" alt="">
                </div>
                <div class="col-12">

                    <div class="alert alert-danger" role="alert">
                        <h4 class="mb-3 d-block">Danger: make your's sure delete </h4>

                        <p><i class="fas fa-exclamation-circle"></i> Title: ?</p>
                        <p><i class="fas fa-exclamation-circle"></i> Are you sur to delete The <%= entity %> ?</p>
                        <p><i class="fas fa-exclamation-circle"></i> Are you sur to delete ?</p>
                    </div>
                    <form method="post" action="/" class=" p-5  " style="border: 2px solid red; border-radius: 6px;">
                        <input type="hidden" name="_method" value="confirm">
                        <input type="hidden" name="entity" value="<%= entity %>">
                        <input type="hidden" name="id" value="<%= id %>">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" name="email" readonly class="form-control-plaintext" id="staticEmail"
                                    value="abdellah.charki@yahoo.com">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" name="password" style="border: 1px solid #ff0000; color: #000;"
                                    class="form-control" id="inputPassword">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Confirm delete</button>
                    </form>


                </div>


            </div>
        </section>

        <%- include("components/footer.ejs") %>