<%- include("../components/header.ejs") %>
<%- include("../components/navbar.ejs") %>
<div id="notes"></div> 
<%- include("../components/react-cdn.ejs") %> 
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<%- include("../components/editor.ejs") %>
<script type="text/babel" src="/react/NoteLine.jsx"></script>
<script type="text/babel" src="/react/Notes.jsx"></script>

<%- include("../components/footer.ejs") %>